.page {
	background-color: #282c34;
	border-radius: 4.44vh;
	overflow: hidden;
	padding: 0px;
	margin: 5% 5% 2% 5%;
	position: relative;
	height: 60vh;
	box-shadow: 0vh 0vh 4vh 0.67vh rgba(157, 165, 180, 0.22);
}

body {
	background-color: #21252b;
	color: #9da5b4;
	margin: 0px;
	margin: 0px;
	font-family: Georgia, serif;
}

ul {
	font-size: 2.69vh;
	line-height: 3vh;
	padding: 0;
	margin-left: 2.5vh;
}

.info {
	overflow-y: auto;
	height: 100%;
}

.picture {
	float: left;
	height: 60vh;
	top: 0;
}

.txt {
	position: relative;
	width: 100vh;
	font-size: 2.69vh;
	margin-top: 5.5%;
	margin-left: 8vh;
}

.info::-webkit-scrollbar {
	height: 100%;
	width: 0.8vh;
}

.info::-webkit-scrollbar-track {
	border-radius: 0px;
	background-color: #282c34;
}

.info::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: #9da5b4;
	height: 5vh;
}

.btn {
	border: none;
	border-radius: 1.2vh;
	background-color: #9da5b4;
	color: #9da5b4;
	font-size: 8vh;
	margin-right: 2.4vh;
	font-family: Georgia, serifs;
	padding: 0vh 4.9vh;
	text-align: center;
	transition: color 0.44s;
}

.btn:hover {
	color: #21252b;
}

.headline {
	margin: 2.5vh;
}

.tagline {
	color: #9da5b4;
	font-size: 8vh;
	width: 100%;
	margin-top: 3%;
	display: flex;
	justify-content: center;
}
